<!-- Navbar -->
<div class="all-content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><i class="fas fa-globe fa-2x"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-sm btn-primary btn-menu" href="/scrape" role="button">SCRAPE ARTICLES</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-sm btn-primary btn-menu" href="/clear" role="button">CLEAR ARTICLES</a>
            </li>
            </ul>
        </div>
    </nav>
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid d-flex align-items-center">
        <div class="container">
            <h1 class="display-3">Mongo Scraper</h1>
            <p class="lead">Richmond Crime Mongo Scraper</p>
        </div>
    </div>
    <!-- Content -->
    <div class="container" id="cards">
        <div class="row row-cols-1 row-cols-md-3">
            
                {{#each articles}}
                    <div class="col mb-4">
                        <div class="card-deck">
                                <div class="card" style="width: 30rem;">

                                        <div class="d-flex align-items-center">
                                            <h5 class="highlight card-header mx-auto w-100">
                                                <a href="https://www.richmond.com/{{link}}" target="_blank">{{headline}}</a> 

                                            </h5>
                                        </div>
                                        <div class="row no-gutters">
                                            <div class="col-md-3">
                                                <img src="{{imgUrl}}" class="card-img">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="card-body">
                                                    <p class="card-text">{{summary}}</p>
                                                
                                                </div>
                                            </div>
                                        </div>

                                            <div class="card-footer">
                                            <small class="text-muted">Posted On: {{displayDate}}</small>
                                                {{#if saved}}                                
                                                    <button data-id="{{_id}}" id="fav-btn" class="btn float-right" value="{{saved}}"><i class="fas fa-plus-square"></i></button>
                                                {{else}}
                                                    <button href="#" data-id="{{_id}}" id="fav-btn" class="btn float-right" value="{{saved}}"><i class="far fa-plus-square"></i></button>
                                                {{/if}}
                                            </div>
                                </div>
                        </div>
                    </div>
                {{/each}}
            
        </div>
    </div>
    <br><br>
    <!-- Footer -->
    <footer class="footer">
        <p>Richmond Crime Mongo Scraper&nbsp;&nbsp;|&nbsp;&nbsp;Powered by <a href="https://www.richmond.com/" target="_blank">Richmond Times</a></p>
    </footer>
</div>
<!-- JavaScript -->
<script src="/assets/javascript/index.js"></script>